* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

i {
    color: white;
}

@font-face {
    font-family: 'Duke Hill';
    src: url(./Assets/font/DukeFill_web.woff);
}

header {
    background: #161616;
    height: 40px;
    width: 100%;
    color: #b0b0b0;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
}

header  .fa-user, .fa-question{
    margin-right: 50px;
}

header i {
    cursor: pointer;
}

header i:hover {
    color: whitesmoke;
}

/* header svg {
    width: 10px;
    color: white;
} */

.header2 {
    background: black;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    color: white;
    justify-content: space-between;
}

.header2 ul img {
    width: 48px;
    height: 31px;
    margin-right: 20px;
}

.header2 ul {
    display: flex;
    font-family: 'Duke Hill';
    font-size: 18px;
}

.header2 ul li {
    list-style: none;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.header2 ul li:hover {
    color: #d9292b
}

.header2 .download-btn {
    padding: 12px 25px;
    background: #d9292b;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'Poppins';
}

.header2 .download-btn:hover {
    background-color: #ee3a3d;
}

.header2 .menu {
    display: none;
    cursor: pointer;
}

.hero {
    background-image: url(./Assets/images/apex-hero-large-defiance-season-keyart-homepage-ftue-16x9-xl.jpg.adapt.crop16x9.1920w.jpg);
    width: 100%;
    height: 100%;
    /* aspect-ratio: 16/9; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}

.hero .hero-content {
    position: relative;
    transform: translateX(-40%);

    max-width: 40rem;
    font-size: 20px;

    /* display: flex; */
    text-align: center;
    /* outline: red 1px solid; */
}

.hero .hero-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
    column-gap: 1rem;
    margin-top: 20px;
}

.hero .btn {
    padding: 20px 25px;
    border: #161616 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.hero .btn:hover {
    /* transform: scale(1.1); */
    color: #fbf932;
    background: black;
}

@media screen and (max-width:1078px) {
    .hero .hero-content {
        transform: translate(-30%) scale(0.9);
    }
}

@media screen and (max-width:1000px) {
    .download-btn {
        display: none;
    }
    .header2 ul li{
        display: none;
    }
    
}

@media screen and (max-width:768px) {
    .hero .hero-content {
        transform: translate(-25%, -10%) scale(0.7);
        align-items: center;
    }
    .header2 .menu{
        display: flex;
        transform: translate(-100%);
        font-size: 1.5rem;
    }
    .hero .hero-btn {
        /* outline: 1px solid red; */
        align-items: center;
        display: flex;
        justify-content: center;
        /* width: fit-content; */
    }
    .hero .hero-btn .btn {
        width: fit-content;
        transform: scale(0.9);
    }
}

@media  screen and (max-width:730px) {
    .hero {
        background-position: center right;    
    }

    .hero .hero-btn .watch {
        display: none;
    }

    .hero .hero-content {
        transform: scale(0.7) translate(0, 60px);
        margin-top: 100px;
        background: rgb(255, 255, 255, 0.6);
        border-radius: 2px;
    }
}
